html,
body {
  margin: 0px;
  border: 0px;
  min-height: 100%;
}

body {
  background-color: transparent;
  transition: background-color 0.5s;

  height: 4000px;

  font-family: "Noto Sans", sans-serif;
  color: #4a4a4a;

  overflow-x: hidden;
  overflow-y: overlay;
}

* {
  transform-origin: 0% 0%;
}

body > div {
  background: #fafafa;
  height: 100%;
}

::selection {
  color: #8b8b8b;
  background-color: #dae6fa;
}

body::-webkit-scrollbar {
  width: 0.25vw;
}

body::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: inherit;
  border-radius: 4px;
  transition: 0.5s;
}

.scroll-active {
  background-color: #3781fd;
}

header {
  position:sticky;
  top: 0;
  z-index: 2;
  height: 50px;
  background-color: #ffffff;
}

header > .navbar {
  display: flex;
  width: 100vw;
  max-width: 1920px;
  margin-inline: auto;
  background-color: #ffffff;
  align-content: center;
  user-select: none;
}

header > .navbar > div {
  padding: 0px 20px 0px 20px;
  line-height: 50px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

header > .navbar > div:not(.logo):hover {
  color: #3781fd;
  box-shadow: inset 0px -2px 0 #3781fd;
}

header > .navbar > div.info {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px 10px 0px 10px;

  margin-left: auto;

  cursor: pointer;
}

.logo {
  width: 140px;

  font-family: "Dancing Script", cursive;
  font-size: 24px;
  text-align: center;
  transition: 0.2s;
}

.logo:hover {
  font-size: 25px;
  color: #3781fd;
}

.info:hover > img{
  filter: brightness(0) invert(38%) sepia(56%) saturate(1439%) hue-rotate(195deg) brightness(105%) contrast(99%);
}

.main {
  min-width: 850px;
  max-width: 1800px;
  width: 88%;
  margin: 210px auto 0px auto;
}

.hero {
  display: flex;

  font-family: Arial, sans-serif;
  font-size: 70px;
  font-weight: 600;
  line-height: 100px;
  transition: 0.5s;
}

.title-scroller {
  position: relative;
  width: 600px;
  height: 100px;
  line-height: 100px;

  margin-left: 15px;
  overflow: hidden;
}

.title-scroller > span {
  position: absolute;
  top: 0;
  user-select: none;

  animation: scrolling 10s ease infinite;
}

@keyframes scrolling {
  0% {
    top: -0px;
  }
  10% {
    top: -0px;
  }
  25% {
    top: -100px;
  }
  35% {
    top: -100px;
  }
  50% {
    top: -199px;
  }
  60% {
    top: -199px;
  }
  75% {
    top: -299px;
  }
  85% {
    top: -299px;
  }
}

.title-scroller > span > div {
  display: flex;

  background: linear-gradient(177deg, #46daff, #1221fc);
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  font-family: Arial, sans-serif;
  width: 550px;
  font-size: 25px;

  padding-top: 15px;
  font-weight: 500;
}

.action-buttons {
  display: flex;
  width: auto;
  height: 50px;

  margin-top: 30px;
  gap: 17px;
  user-select: none;
}

.action-buttons > button {
  border: none;
  background: #3781fd;
  border-radius: 5px;

  height: 100%;
  width: 200px;

  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 18px;
  text-rendering: optimizeLegibility;

  color: white;

  transition: box-shadow 0.2s, padding-left 0.2s;
  cursor: pointer;
}

.action-buttons > button.learn-more:hover {
  box-shadow: 0px 2px 10px 0px #3781fd;
  padding-left: 10px;
}

.action-buttons > button.contact {
  position: relative;
  background: transparent;
  font-weight: 500;
  color: #3781fd;
  transition: 0.2s;
}

.action-buttons > button.contact:hover::before {
  filter: drop-shadow(0px 2px 4px #3781fd);
}

.action-buttons > button.contact:hover {
  padding-left: 10px;
}

.action-buttons > button.contact:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border-radius: inherit;
  border: 2px solid #3781fd;

  transition: 0.2s;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1400px;
  height: 100vh;
  max-height: 937px;

  background: linear-gradient(to right, #00000000 50%, #FAFAFA 100%), url("./assets/image.jpg") center;
  transition: 0.5s;
}

.scroll-incentivizer {
  display: flex;
  width: 50%;
  padding-top: 210px;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.scroll-incentivizer > .mouse {
  width: 30px;
  margin-right: 124px;
  animation: arrow 2s ease infinite;
  cursor: pointer;
}

.scroll-incentivizer > .arrow {
  padding-top: 8px;
  width: 25px;
  margin-right: 123px;
  animation: arrow 2s ease infinite;
  cursor: pointer;
}

@keyframes arrow {
  0% {
    padding-top: 8px;
  }
  50% {
    padding-top: 15px;
  }
  100% {
    padding-top: 8px;
  }
}

@media only screen and (max-width: 1650px){
  .main {
    width: 200px;
    margin: 20vh auto 0px 5vw;
    transform: scale(90%);
  }

  .hero-image {
    background-position: -147px -86px;
  }

  .scroll-incentivizer {
    width: 95%;
    padding-top: 90px;
  }
}

@media only screen and (max-width: 1280px){
  .main {
    margin: 20vh auto 0px 5vw;
    transform: scale(70%);
  }

  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-size: cover;

    background-size: 150%;
    background-position: -214px -111px;
  }

  .scroll-incentivizer {
    display: none;
  }
}

@media only screen and (max-width: 800px){
  .main {
    margin: 20vh auto 0px 5vw;
    transform: scale(40%);
  }
}

@media only screen and (max-width: 600px){
  header {
    height: 30px;
    font-size: 9px;
  }

  header > .navbar > div {
    padding: 0px 8px 0px 8px;
    line-height: 30px;
  }
  
  header > .navbar > div.info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    margin-left: auto;
    
    cursor: pointer;
  }

  header > .navbar > div.info > img {
    width: 10px;
  }

  header > .navbar > div.info > img {
    width: 18px;
  }

  .logo {
    width: 90px;
  
    font-family: "Dancing Script", cursive;
    font-size: 15px;
    text-align: center;
    transition: 0.5s;
  }
  
  .logo:hover {
    font-size: 15.2px;
    color: #3781fd;
  }

  .main {
    margin: 20vh auto 0px 5vw;
    transform: scale(25%);
  }

  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-size: cover;

    background-size: 150%;
    background-position: -124px -61px;
  }
}