html,
body {
  margin: 0px;
  border: 0px;
  min-height: 100%;
}

body {
  background-color: transparent;
  transition: background-color 0.5s;

  height: 4000px;

  font-family: "Noto Sans", sans-serif;
  color: #4a4a4a;

  overflow-x: hidden;
  overflow-y: overlay;
}

* {
  transform-origin: 0% 0%;
}

body > div {
  background: #fafafa;
  height: 100%;
}

::selection {
  color: #8b8b8b;
  background-color: #dae6fa;
}

body::-webkit-scrollbar {
  width: 0.25vw;
}

body::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: inherit;
  border-radius: 4px;
  transition: 0.5s;
}

.scroll-active {
  background-color: #3781fd;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 50px;
  background-color: #ffffff;
}

header > .navbar {
  display: flex;
  width: 100vw;
  max-width: 1920px;
  margin-inline: auto;
  background-color: #ffffff;
  align-content: center;
  user-select: none;
}

header > .navbar > div {
  padding: 0px 20px 0px 20px;
  line-height: 50px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

header > .navbar > div:not(.logo):hover {
  color: #3781fd;
  box-shadow: inset 0px -2px 0 #3781fd;
}

header > .navbar > div.info {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px 10px 0px 10px;

  margin-left: auto;

  cursor: pointer;
}

.logo {
  width: 140px;

  font-family: "Dancing Script", cursive;
  font-size: 24px;
  text-align: center;
  transition: 0.2s;
}

.logo:hover {
  font-size: 25px;
  color: #3781fd;
}

.info:hover > img {
  filter: brightness(0) invert(38%) sepia(56%) saturate(1439%)
    hue-rotate(195deg) brightness(105%) contrast(99%);
}

.main {
  min-width: 850px;
  max-width: 1800px;
  width: 88%;
  height: 100vh;
  max-height: 677px;
  margin: 210px auto 0px auto;
}

.hero {
  display: flex;

  font-family: Arial, sans-serif;
  font-size: 70px;
  font-weight: 600;
  line-height: 100px;
  transition: 0.5s;
}

.title-scroller {
  position: relative;
  width: 600px;
  height: 100px;
  line-height: 100px;

  margin-left: 15px;
  overflow: hidden;
}

.title-scroller > span {
  position: absolute;
  top: 0;
  user-select: none;

  animation: scrolling 10s ease infinite;
}

@keyframes scrolling {
  0% {
    top: -0px;
  }
  10% {
    top: -0px;
  }
  25% {
    top: -100px;
  }
  35% {
    top: -100px;
  }
  50% {
    top: -199px;
  }
  60% {
    top: -199px;
  }
  75% {
    top: -299px;
  }
  85% {
    top: -299px;
  }
}

.title-scroller > span > div {
  display: flex;

  background: linear-gradient(177deg, #46daff, #1221fc);
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  font-family: Arial, sans-serif;
  width: 550px;
  font-size: 25px;

  padding-top: 15px;
  font-weight: 500;
}

.action-buttons {
  display: flex;
  width: auto;
  height: 50px;

  margin-top: 30px;
  gap: 17px;
  user-select: none;
}

.action-buttons > button {
  border: none;
  background: #3781fd;
  border-radius: 5px;

  height: 100%;
  width: 200px;

  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 18px;
  text-rendering: optimizeLegibility;

  color: white;

  transition: box-shadow 0.2s, padding-left 0.2s;
  cursor: pointer;
}

.action-buttons > button.learn-more:hover {
  box-shadow: 0px 2px 10px 0px #3781fd;
  padding-left: 10px;
}

.action-buttons > button.contact {
  position: relative;
  background: transparent;
  font-weight: 500;
  color: #3781fd;
  transition: 0.2s;
}

.action-buttons > button.contact:hover::before {
  filter: drop-shadow(0px 2px 4px #3781fd);
}

.action-buttons > button.contact:hover {
  padding-left: 10px;
}

.action-buttons > button.contact:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border-radius: inherit;
  border: 2px solid #3781fd;

  transition: 0.2s;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1400px;
  height: 100vh;
  max-height: 937px;

  background: linear-gradient(to right, #00000000 50%, #fafafa 100%),
    url("./images/hero.jpg") center;
  transition: 0.5s;
}

.scroll-incentivizer {
  display: flex;
  width: 50%;
  padding-top: 210px;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.scroll-incentivizer > .mouse {
  width: 30px;
  margin-right: 144px;
  animation: arrow 2s ease infinite;
  cursor: pointer;
}

.scroll-incentivizer > .arrow {
  padding-top: 8px;
  width: 25px;
  margin-right: 143px;
  animation: arrow 2s ease infinite;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  height: fit-content;
  min-height: 170px;
  width: 100%;
  background-color: #34363a;
  border-top: min(0.25vw, 3px) solid #3781fd;

  box-shadow: 0 0 20px 0px #c6c6c6;
}

.icon-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;

  gap: min(30px, 2%);

  transform-origin: top center;
}

.icon-bar > a > img:not(.seperator) {
  height: 34px;
  padding: 25px;

  filter: contrast(0);

  cursor: pointer;

  transition: 0.5s;
}

.icon-bar > a > img:not(.seperator):hover {
  margin-inline: 30px;
  filter: contrast(1);
}

.icon-bar > a > img.seperator {
  height: 52px;
}

.related-info {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 10px;
  height: 46px;

  gap: 35px;
}

.related-info > a {
  transition: 0.2s;
  height: 100%;
  line-height: 46px;
}

.related-info > a.logo {
  width: fit-content;
  font-size: 27px;
  transition: 0.2s;
}

.related-info > a.logo:hover {
  font-size: 30px;
  color: #3781fd;
}


.related-info > a:not(.logo):hover {
  font-size: 16px;
  color: #3781fd;

  border-bottom: 2px solid red inset;
}

.related-info > a:link {
  text-decoration: none;
}

.related-info > a:visited {
  color: #7F7F7F;
}

.cards {
  width: 76%;
  max-width: 1800px;
  margin: 0px auto 0px auto;
  margin-top: min(220px, 12vh);
  font-size: 50px;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
  gap: 60px;
  text-align: center;
}

.card-container > div {
  width: 420px;
  aspect-ratio: 1.15;
  background-color: white;
  box-shadow: 0 0 20px #e4e4e4;
  border-radius: 10px;
}

.card-container > div > img {
  width: 230px;
  transform: translate(130px, 80px);
}



@keyframes arrow {
  0% {
    padding-top: 8px;
  }
  50% {
    padding-top: 15px;
  }
  100% {
    padding-top: 8px;
  }
}

@media only screen and (max-width: 1650px) {
  .main {
    width: 200px;
    margin: 20vh auto 0px 5vw;
    transform: scale(90%);
  }

  .hero-image {
    left: max(570px, 57%);
  }

  .scroll-incentivizer {
    width: 95%;
    padding-top: 90px;
  }
}

@media only screen and (max-width: 1280px) {
  .main {
    margin: 20vh auto 0px 5vw;
    transform: scale(70%);
  }

  .hero-image {
    left: max(570px, 57%);
  }

  .scroll-incentivizer {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .main {
    margin: 20vh auto 0px 5vw;
    transform: scale(45%);
  }

  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-size: cover;

    background-size: 150%;
    background-position: -124px -61px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 30px;
    font-size: 9px;
  }

  header > .navbar > div {
    padding: 0px 8px 0px 8px;
    line-height: 30px;
  }

  header > .navbar > div.info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    margin-left: auto;

    cursor: pointer;
  }

  header > .navbar > div.info > img {
    width: 10px;
  }

  header > .navbar > div.info > img {
    width: 18px;
  }

  .logo {
    width: 90px;

    font-family: "Dancing Script", cursive;
    font-size: 15px;
    text-align: center;
    transition: 0.5s;
  }

  .logo:hover {
    font-size: 15.2px;
    color: #3781fd;
  }

  .main {
    margin: 20vh auto 0px 5vw;
    transform: scale(25%);
  }

  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-size: cover;

    background-repeat: no-repeat;

    background-size: 150%;
    background-position: -124px -61px;
  }
}
