:root {
  --accent: #3781fd;
  --text: #4a4a4a;
}

html,
body {
  margin: 0px;
  border: 0px;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: transparent;
  transition: background-color 0.5s;

  height: 4150px;

  font-family: "Noto Sans", sans-serif;
  color: #4a4a4a;

  overflow-x: hidden;
  overflow-y: overlay;
}

* {
  transform-origin: 0% 0%;
  z-index: 1;
}

body > div {
  background: #fafafa;
  height: 100%;
  z-index: -5;
}

::selection {
  color: #8b8b8b;
  background-color: #dae6fa;
}

body::-webkit-scrollbar {
  width: 0.25vw;
}

body::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: inherit;
  border-radius: 4px;
  transition: 0.5s;
}

.scroll-active {
  background-color: var(--accent);
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 50px;
  background-color: #ffffff;
}

header > .navbar {
  display: flex;
  width: 100vw;
  max-width: 1920px;
  margin-inline: auto;
  background-color: #ffffff;
  align-content: center;
  user-select: none;
}

header > .navbar > a {
  color: var(--text);
  text-decoration: none;
  padding: 0px 20px 0px 20px;
  line-height: 50px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

header > .navbar > a:not(.logo):hover {
  color: var(--accent);
  box-shadow: inset 0px -2px 0 var(--accent);
}

header > .navbar > a.info {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px 10px 0px 10px;

  margin-left: auto;

  cursor: pointer;
}

.logo {
  width: 140px;

  font-family: "Dancing Script", cursive;
  font-size: 24px;
  text-align: center;
  transition: 0.2s;
}

.logo:hover {
  font-size: 25px;
  color: var(--accent);
}

.info:hover > img {
  filter: brightness(0) invert(38%) sepia(56%) saturate(1439%)
    hue-rotate(195deg) brightness(105%) contrast(99%);
}

.main {
  min-width: 850px;
  max-width: 1800px;
  width: 88%;
  height: 100vh;
  max-height: 677px;
  margin: 210px auto 0px auto;
}

.hero {
  display: flex;

  font-family: Arial, sans-serif;
  font-size: 70px;
  font-weight: 600;
  line-height: 100px;
  transition: 0.5s;
}

.title-scroller {
  position: relative;
  width: 600px;
  height: 100px;
  line-height: 100px;

  margin-left: 15px;
  overflow: hidden;
}

.title-scroller > span {
  position: absolute;
  top: 0;
  user-select: none;

  animation: scrolling 10s ease infinite;
}

@keyframes scrolling {
  0% {
    top: -0px;
  }
  10% {
    top: -0px;
  }
  25% {
    top: -100px;
  }
  35% {
    top: -100px;
  }
  50% {
    top: -199px;
  }
  60% {
    top: -199px;
  }
  75% {
    top: -299px;
  }
  85% {
    top: -299px;
  }
}

.title-scroller > span > div {
  display: flex;

  background: linear-gradient(177deg, #46daff, #1221fc);
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  font-family: Arial, sans-serif;
  width: 550px;
  font-size: 25px;

  padding-top: 15px;
  font-weight: 500;
}

.action-buttons {
  display: flex;
  width: auto;
  height: 50px;

  margin-top: 30px;
  gap: 17px;
  user-select: none;
}

.action-buttons > button {
  border: none;
  background: var(--accent);
  border-radius: 5px;

  height: 100%;
  width: 200px;

  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 18px;
  text-rendering: optimizeLegibility;

  color: white;

  transition: box-shadow 0.2s, padding-left 0.2s;
  cursor: pointer;
}

.action-buttons > button.learn-more:hover {
  box-shadow: 0px 2px 10px 0px var(--accent);
  padding-left: 10px;
}

.action-buttons > button.contact-btn {
  position: relative;
  background: transparent;
  font-weight: 500;
  color: var(--accent);
  transition: 0.2s;
}

.action-buttons > button.contact-btn:hover::before {
  filter: drop-shadow(0px 2px 4px var(--accent));
}

.action-buttons > button.contact-btn:hover {
  padding-left: 10px;
}

.action-buttons > button.contact-btn:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border-radius: inherit;
  border: 2px solid var(--accent);

  transition: 0.2s;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1400px;
  height: 100vh;
  max-height: min(1000px, 100vh);

  background: linear-gradient(to right, #00000000 50%, #fafafa 100%),
    url("./images/hero.jpg") center;
  transition: 0.5s;

  z-index: 0;
}

.scroll-incentivizer {
  display: flex;
  width: 50%;
  padding-top: 210px;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.scroll-incentivizer > .mouse {
  width: 30px;
  margin-right: 144px;
  animation: arrow 2s ease infinite;
  cursor: pointer;
}

.scroll-incentivizer > .arrow {
  padding-top: 8px;
  width: 25px;
  margin-right: 143px;
  animation: arrow 2s ease infinite;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  height: fit-content;
  min-height: 170px;
  width: 100%;
  background-color: #34363a;
  border-top: min(0.25vw, 3px) solid var(--accent);

  box-shadow: 0 0 20px 0px #c6c6c6;
}

.icon-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;

  gap: min(30px, 2%);

  transform-origin: top center;
}

.icon-bar > a > img:not(.seperator) {
  height: 34px;
  padding: 25px;

  filter: contrast(0);

  cursor: pointer;

  transition: 0.5s;
}

.icon-bar > a > .github {
  height: 42px !important;
}

.icon-bar > a > img:not(.seperator):hover {
  margin-inline: 30px;
  filter: contrast(1);
}

.icon-bar > a > img.seperator {
  height: 52px;
}

.related-info {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 10px;
  height: 46px;
  gap: 35px;
}

.related-info > a {
  color: #6a6a6a;
  transition: 0.2s;
  height: 100%;
  line-height: 46px;
}

.related-info > a.logo {
  width: fit-content;
  font-size: 27px;
  transition: 0.2s;
}

.related-info > a.logo:hover {
  font-size: 30px;
  color: var(--accent);
}

.related-info > a:not(.logo):hover {
  padding-inline: 5px;
  font-size: 18px;
  color: var(--accent);

  border-bottom: 2px solid red inset;
}

.related-info > a:link {
  text-decoration: none;
}

.related-info > a:visited {
  color: #7f7f7f;
}

.cards {
  padding-top: 80px;
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 84%;
  max-width: 1790px;
  margin: min(187px, 12vh) auto 0px;
  font-size: 35px;
}

.TitleText {
  transition: 0.2s;
}

.TitleText::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 2px;
  transform: translate(-5px, 52px);
  background: var(--accent);
  transition: 0.2s;
}

.TitleText:hover {
  transform: skewX(-5deg);
}

.TitleText:hover::before {
  width: 245px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: min(1175px, 95vw);
  font-size: 26px;
  margin-top: 50px;
  justify-content: center;
  gap: 70px;
  text-align: center;

  scale: 0.8;
  transform-origin: top;
}

.card-container > div {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 345px;
  height: 387px;
  /* padding: 50px; */
  background-color: rgba(255, 0, 0, 0);

  border-radius: 19px;
  transition: box-shadow 0.5s;
}

.card-container > div::after {
  /* WHITE FIELD IN FRONT OF THE CARD */
  content: "";
  position: absolute;
  z-index: 1;
  width: calc(100% - 4px);
  height: calc(100% - 4px);

  top: 2px;

  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  transition: box-shadow 0.5s;
}

.card-container > div::before {
  /* THE CONTENT BETWEEN THE ACTUAL CONTAINER AND ::after ELEMENT */
  content: "";
  position: absolute;
  z-index: 0;
  width: 110%;
  height: 1000px;
  transform: translateY(5%);
  filter: blur(20px);
  background: conic-gradient(
    from 90deg at 50% 50%,
    var(--accent) 60%,
    transparent 60%,
    transparent 90%,
    var(--accent) 90%
  );
  transition: box-shadow 0.5s, transform 1s;
}

.card-container > div:hover::before {
  /* THE CONTENT BETWEEN THE ACTUAL CONTAINER AND ::after ELEMENT */
  transform: translateY(-55%);
}

.card-container > div > img {
  z-index: 2;
  margin-top: 54px;
  height: 95px;

  transition: margin-top 0.2s, height 0.2s;
}

.card-container > div:hover > img {
  margin-top: 48px;
  height: 107px;
}

.card-container > div > h4 {
  z-index: 2;
  margin: 0px;
  margin-top: 51px;

  transition: margin-top 0.2s;
}

.card-container > div:hover > h4 {
  margin-top: 42px;
}

.card-container > div > p {
  z-index: 2;
  margin-top: 14px;
  padding-inline: 20px;
  font-size: 25px;
}

.card-container > div:hover {
  box-shadow: 20px 0 40px #c6f2ff63, 0px 0 40px #ffcdeb63,
    0px 20px 30px #c4deff63;
}

.quote {
  display: flex;
  background: white;
  box-shadow: 0px 0px 30px 0px #fbfbfb;

  height: 320px;
  width: auto;
  padding: 35px 0 20px 0;
  font-family: "Bad Script";
  line-height: 65px;
  font-size: 37px;
  margin: 0px auto 50px auto;

  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quote-container {
  transform-origin: 50% 50%;
  user-select: none;
  pointer-events: none;

  filter: drop-shadow(0px 23px 71px black);
}

#quote-container > p {
  transform-origin: 50% 50%;

  margin: 0px;
  z-index: 1;

  transition: 0.5s;

  user-select: none;
  pointer-events: none;
}

.quote:hover > #quote-container > p {
  scale: 1.05;
}

.author {
  color: #7f7f7f;
  font-size: 25px;
}

.quotation-mark {
  color: var(--accent);
  font-size: 45px;
}

.text-section {
  padding-top: 60px;
  margin-top: -60px;
  transform-origin: 50% 0%;
  transform: scale(0.85);
  height: fit-content;
  margin-inline: auto;
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.text-section > div{
  width: max(25vw, 1250px);
  margin-inline: auto;
  margin-top: 100px;
  padding-block: 30px;
  background: linear-gradient(90deg, #ffffff00, #fff, #fff, #ffffff00);
}

.text-section > div > .main {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 1000;
  font-size: 40px !important;
  font-style: italic;
  width: 234px;
  height: 138px;

  background-image: linear-gradient(60deg, var(--accent) 50%, var(--text) 50%);
  background-size: 1500px;
  background-position-x: -800px;

  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: 1s, letter-spacing 0.3s;
}

.text-section > div > .desc > span {
  color: #5c5c5c;
  font-weight: 800;
  transition: 0.2s;
}

.text-section > div > .desc > span:hover {
  color: var(--accent);
  letter-spacing: 1.1px;
}

.text-section > div:hover > .main {
  color: var(--accent);
  background-position-x: 0px;
  letter-spacing: 1px;
}

.background-path {
  position: absolute;
  width: 85%;
  max-width: 1500px;
  bottom: 0px;
  right: 0px;
  user-select: none;
  pointer-events: none;
  z-index: 0;
}

.contact {
  width: min(940px, 95vw);
  height: 300px;
  margin-inline: auto;
  padding-left: 10px;
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

.contact > p {
  font-size: 30px;
}

.contact > div > h1 {
  background-image: linear-gradient(60deg, var(--accent) 50%, var(--text) 50%);
  background-size: 600px;
  background-position-x: -350px;
  font-size: 45px;

  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: 1s, letter-spacing 0.3s;
}

.contact:hover > div > h1 {
  color: var(--accent);
  background-position-x: 0px;
  letter-spacing: 1px;
}

.form {
  min-width: 320px;
  height: 460px;
  background-color: white;
  box-shadow: 0px 10px 20px 0px #e5e5e5;
  border-radius: 12px;
  padding: 35px;
  transition: 0.3s;
}

.form:hover {
  box-shadow: 0px 15px 25px 0px #dadada;
  transform: translateY(-3px);
}

.form > * {
  margin: 0px;
}

.form > h1 {
  font-size: 25px;
}


.form > div {
  display: flex;
  flex-direction: column;
}

.form > .name-surname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.form > .name-surname > input{
  width: 50%;
}

.form > div > input {
  background-color: #fdfdfd;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  padding-left: 10px;
  font-size: 15px;
  height: 35px;
  margin-top: 15px;

  outline: none;
}

.form > textarea {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

  background-color: #fdfdfd;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  padding-left: 10px;
  padding-top: 9px;
  font-size: 15px;
  height: 120px;
  width: 100%;
  margin-top: 15px;
  resize: none;

  outline: none;
}

.form > .checkbox-field {
  flex-direction: row;
  align-items: center;
}


.form > .checkbox-field > input {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.form > .checkbox-field > label {
  font: "Noto Sans";
  font-size: 18px;
  position: relative;
  top: -4px;
  left: 6px;
  margin-top: 14px;
  cursor: pointer;
}

.form > button {
  font: "Noto Sans";
  color: white;
  font-size: 20px;
  background-color: var(--accent);
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 50px;
  cursor: pointer;

  margin-top: 16px;
  transition: 0.2s;
}

.form > button:hover {
  box-shadow: 0 5px 20px 0 #005eff62;
}

.contact > div > .contact-channels > div {
  display: flex;
  gap: 10px;
  font-size: 20px;
  padding-left: 15px;
  cursor: pointer;
}

.contact > div > p{
  font-size: 20px;
  margin-block: 9px;
}

.contact > div > .preff{
  margin-top: 40px;
}

.contact > div > .contact-channels > div > img{
  width: 35px;
  margin-top: 1px;
  
}

.contact-channels > div > p {
  margin-block: 9px;
}

.contact-channels > div{
  transition: 0.5s;
}

.contact-channels > div:hover {
  margin-left: 10px;
}

.contact-channels > .disc > span{
  margin-block: auto;
  height: 27px;
  margin-left: -50px;
  user-select: text;
  filter: opacity(0);
  transition: 0.5s;
}

.contact-channels > .disc:hover > span{
  margin-left: 5px;
  filter: opacity(1);
}

.contact-channels > .email > span{
  margin-block: auto;
  height: 27px;
  margin-left: -50px;
  user-select: text;
  filter: opacity(0);
  transition: 0.5s;
}

.contact-channels > .email:hover > span{
  margin-left: 5px;
  filter: opacity(1);
}

.contact-channels > div > img{
  filter: contrast(0);
  margin-right: 0px;
  transition: 0.5s;
}

.contact-channels > div:hover > img {
  filter: contrast(1);
  margin-right: 5px;
}

@keyframes arrow {
  0% {
    padding-top: 8px;
  }
  50% {
    padding-top: 15px;
  }
  100% {
    padding-top: 8px;
  }
}

@media only screen and (max-width: 1650px) {
  .main {
    width: 200px;
    margin: 20vh auto 0px 5vw;
    transform: scale(90%);
  }

  .hero-image {
    left: max(570px, 57%);
  }

  .scroll-incentivizer {
    width: 95%;
    padding-top: 90px;
  }
}

@media only screen and (max-width: 1280px) {
  .main {
    margin: 20vh auto 0px 5vw;
    transform: scale(70%);
  }

  .hero-image {
    left: max(570px, 57%);
  }

  .scroll-incentivizer {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .main {
    margin: 20vh auto 0px 5vw;
    transform: scale(45%);
  }

  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-size: cover;

    background-size: 150%;
    background-position: -124px -61px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 30px;
    font-size: 9px;
  }

  header > .navbar > div {
    padding: 0px 8px 0px 8px;
    line-height: 30px;
  }

  header > .navbar > div.info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    margin-left: auto;

    cursor: pointer;
  }

  header > .navbar > div.info > img {
    width: 10px;
  }

  header > .navbar > div.info > img {
    width: 18px;
  }

  .logo {
    width: 90px;

    font-family: "Dancing Script", cursive;
    font-size: 15px;
    text-align: center;
    transition: 0.5s;
  }

  .logo:hover {
    font-size: 15.2px;
    color: var(--accent);
  }

  .main {
    margin: 20vh auto 0px 5vw;
    transform: scale(25%);
  }

  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-size: cover;

    background-repeat: no-repeat;

    background-size: 150%;
    background-position: -124px -61px;
  }
}
